body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    min-height: 100vh;
}

header {
    grid-row: 1 / 2;
}

.header-title {
    background-color: #333333;
    padding: 10px;
    color: #fff;
    width: 100%;
}

.header-menu {
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    width: 100%;
}

nav {
    width: 100%;
    
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    text-decoration: underline;
}

.content-row {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
 
main {
    flex: 2;
    padding: 20px;
    background-color: #cccccc;
}

aside {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

footer {
    grid-row: 3 / 4;
    margin-top: auto;
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 60px 10px;
    width: 100%;
}