:root {
    --red: rgb(158, 51, 58);
    --gold: rgb(245, 218, 65);
    --border: 1px rgb(0, 0, 0, .1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Roboto", sans-serif;
    background-color: var(--red);
}

header, footer {
    color: white;
    text-align: center;
    padding: 1.5rem;
}

h1 {
    font-size: 1.5rem;
}

aside {
    background-color: var(--gold);
    padding: 0.5rem;
}

img {
    width: 100%;
    height: auto;
}

h2 {
    padding: 1rem;
}

.card {
    background-color: white;
    border-radius: .5rem;
    margin: 1rem;
    padding: 1rem;
}

.card h2 {
    text-align: center;
}


.column {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}

.label {
    font-weight: 700;
    font-size: 0.80rem;
    text-align: right;
}

.value {
    font-size: .85rem;
}

svg {
    display: block;
    padding-left: 10px;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.cls-1 {
    fill:#f8b62d;
}

.cls-1, .cls-2 {
    stroke:#231815;
    stroke-miterlimit:10;
}

.cls-2, .cls-4 {
    fill:#231815;
}

.cls-3 {
    fill:#fff;
}


#lastModified {
    font-size: 1rem;
}

footer {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    Color: #FFFFFF;
    

}
@media (min-width: 750px) {
    h1 {
        font-size: 3rem;
    }

    main {
        position: relative;
    }

    .card {
        border: var(--border);
        box-shadow: 0 0 2rem #000;
        opacity: .8;
    }
    

    .data {
        position: absolute;
        top: 2rem;
        left: 1rem;
    }

    .weather {
        position: absolute;
        bottom: 2rem;
        right: 1rem;
    }

    .weather h2::after {
        content: '🌤';
        position: absolute;
        right: 7rem;
        top: 2rem;
    }

    svg {
        display: none;
        margin: 0;
        padding: 0
    }
}

