
@media screen and (min-width: 740px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
    }

    h1 {
        font-weight: 400;
        margin-left: 0;
        text-align: left;
    }

    #hamburger {
        display: none;
    }

    .navigation { 
        flex: 1;
        text-align: right;
    }

    .navigation ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .navigation li {
        display: inline-block;
        margin-left: 30px;
    }
    
    .navigation a { 
        padding: 10px;
        color: white;
        text-decoration: none;
        display: inline-block;
    }

}

@media (min-width: 7401x) {
    
    main {
        display: grid;
    }
    
}

@media (max-width: 740px) {
    
    main {
        grid-template-columns: repeat(1, 1fr);
    }

    h2 {
        grid-column: span 1;
    }
    
}

@media (min-width: 741px) and (max-width: 1024px) {

    main {
        grid-template-columns: repeat(2, 1fr);
    }

    h2 {
        grid-column: span 2;
    }
    
}

@media (min-width: 1025px) {

    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    h2 {
        grid-column: span 3;
    }
    
}
/* For last modified and year scripts */
#lastModified, #currentyear {
    display: inline-block;
}
