* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

header {
    background-color: #3d1b64;
    padding: 20px;
    display: grid;
    grid-gap: 1rem;
}

header, main {
    margin: 0 auto;
}

h1 {
    text-align: left;
    color: white;
}

#menu {
    font-size: 1.5rem;
    background: none;
    border: 0;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
    color:white;
}

#menu.open::before {
    content: "X";
}

nav {
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    flex-direction: column;
    background-color: #3d1b64;
    color: white;
}

.navigation a {
    display: none;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.navigation a:hover {
    background-color: #6d7585;
    border-radius: 5px;
    text-decoration: underline;
    font-weight: 700;
}

.open a {
    display: block;
}

ul {
    list-style-type: none;
}

main {
    display: grid;
    gap: 16px;
    max-width: 1200px;
    margin-bottom: 2rem;
    padding: 16px;
}

h2 {
    grid-column: span 3;
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    border: 2px solid lightgray;
}

figcaption {
    color: #555;
    margin-top: 5px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #3d1b64;
    color: white;
    font-size: 15px;
}

footer p {
    margin-bottom: 5px;
}