
@media (min-width: 740px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
    }

    #menu {
        display: none;
    }

    .navigation { 
        flex: 1;
        text-align: right;
    }

    .navigation li {
        display: inline-block;
        margin-left: 30px;
    }
    
    .navigation a { 
        padding: 10px;
        display: inline-block;
    }

}

@media (max-width: 740px) {
    
    main {
        grid-template-columns: repeat(1, 1fr);
    }

    h2 {
        grid-column: span 1;
    }
    
}


@media (min-width: 741px) and (max-width: 1024px) {

    main {
        grid-template-columns: repeat(2, 1fr);
    }

    h2 {
        grid-column: span 2;
    }
    
}

@media (min-width: 1025px) {

    main {
        grid-template-columns: repeat(3, 1fr);
    }

    h2 {
        grid-column: span 3;
    }
    
}

